@tailwind base;
@tailwind utilities;

/* ----------------- Fonts ----------------- */
@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/font/PPNeueMontreal-Thin.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/font/PPNeueMontreal-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/font/PPNeueMontreal-Book.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/font/PPNeueMontreal-Regular.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/font/PPNeueMontreal-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/font/PPNeueMontreal-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Parabole';
  src: url('/font/Parabole.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ParaboleText';
  src: url('/font/Parabole-TextRegular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'SaolDisplay';
  src: url('/font/Saol-Display-Medium-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
}

/* ----------------- Custom Float Animations ----------------- */
@layer utilities {
  .animate-float-slow {
    animation: float-slow 14s ease-in-out infinite;
  }

  .animate-float-medium {
    animation: float-medium 9s ease-in-out infinite;
  }

  .animate-float-fast {
    animation: float-fast 6s ease-in-out infinite;
  }

  @keyframes float-slow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }

  @keyframes float-medium {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes float-fast {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}
